extends ../../layout/main
block body
    form(action='' method='post')
        input(class='form-control' name='username' placeholder='username' value='root')
        input(class='form-control' name='password' placeholder='password' value='123456')
        button(class='btn btn-primary' type='submit') Login