extends layout/main
block body
    .container
        form(method="post" action="")
            input(class="form-control")
block script
    script.
        var socket = io('http://localhost:9090');
        socket.on('connect', function(){
            console.log('connected');
        });